<header class="top">
    <h1><a href=/>Coding Dojo</a></h1>
    <nav>
      <ul>
        {{ range $section, $pages := .Site.Sections }}
          {{ if ne $section "" }}
          <li><a href="/{{ $section }}">{{ title $section }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
</header>

<div class="top-right-corner ribbon gradient">
  <div class="seams">
  <a class="" href="https://github.com/codingdojo-org" title="View on GitHub">
    Edit on Github
  </a>
    </div>
</div>
