<header class="top">
    <h1><a href=/>Coding Dojo</a></h1>
    <nav>
      <ul>
        <li><a href="/dojo">Dojo</a></li>
        <li><a href="/kata">Kata</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/record">Record</a></li>
        <li><a href="/solution">Solution</a></li>
      </ul>
    </nav>
</header>

<div class="top-right-corner ribbon gradient">
  <div class="seams">
  <a class="" href="https://github.com/codingdojo-org" title="View on GitHub">
    Edit on Github
  </a>
    </div>
</div>
